<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />
        <defaultDocument>
            <files>
                <add value="checker.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="php_errors.log" />
                    <add segment="sl_data" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
